<div id="bg-image"></div>
<div class="container rounded signin top40 py-5 bg-light col-lg-8 col-10">
    <div class="row">
        <div id="mc-title" class="mx-auto mb-2">Morning Coffee <img id="pot-pic" src="/images/coffee_pot.png"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="name" class="form-control" id="Name" aria-describedby="emailHelp"
                    placeholder="Enter you name">
            </div>
            <div class="form-group">
                <label for="address">Home address</label>
                <input type="text" name="address" class="form-control" id="address" aria-describedby="emailHelp"
                    placeholder="123 Awesome St. Austin, Texas">
                    <small id="emailHelp" class="form-text text-muted">This will help us figure out your commute time to places :)</small>
            </div>

            <form id="signin" name="signup" method="post" action="signup">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Create Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-primary" value="Sign In">Sign up</button>
                <a href="/signin" class="btn btn-warning" class="nav-link mr-4" id="sign-up">"I already have a log in."</a>

            </form>
        </div>
        <div class="col"></div>
    </div>
</div>