.list-group-item {
    line-height: 2.5;
}

body {
    background-color: #3a2306;
    color: #241508;
}

.navbar {
    background-color: #241508;
    color: #c19d67;
}

a {
    color: #c19d67;
}

a:hover {
    color: #5e4423;
}

.card {
    color: #241508;
}

.card-title {
    font-family: 'Josefin Slab', serif;
}
<<<<<<< Updated upstream
.card-body li{
  display: inline;
  padding-right: 20px;
}
.card-body a{
color: #241508; 
}
.card-body a:hover{
  text-decoration: none;
  color: #aa7305;
  }
  .card-body a:focus{
    text-decoration: none;
    color: #aa7305;
    }
hr{
border-width: 2px;
border-color: #241508;
=======

.card-body li {
    display: inline;
    padding-right: 20px;
}

.card-body a {
    color: #241508;
}

.card-body a:hover {
    text-decoration: none;
    color: #aa7305;
}

.card-body a:focus {
    text-decoration: none;
    color: #aa7305;
}

hr {
    border-width: 2px;
    border-color: #241508;
>>>>>>> Stashed changes
}

#title {
    font-size: 6vw;
    color: #8d7147;
    font-family: 'Vast Shadow', cursive;
}

#pot-pic {
    width: 4.5vw;
    margin: 0 0 30px 20px;
}

#pot-pic {
    width: 4.5vw;
    margin: 0 0 30px 20px;
<<<<<<< Updated upstream
}

#news {
    text-align: left;
}

=======
}

#news {
    text-align: left;
}

>>>>>>> Stashed changes
#add-todo-btn {
    background-color: #8d7147;
    color: black;
    border: none;
}

<<<<<<< Updated upstream
#add-todo-btn{
  background-color: #8d7147;
  color: black;
  border: none;
}

img{
    width: 250px;
}

#traffic {
    text-align: left;
    margin-top: 20px;
}
=======
img {
    width: 250px;
}
>>>>>>> Stashed changes
