body{
    font-family: 'Merriweather', serif;

}
.list-group-item {
    line-height: 2.5;
}

body {
    background-color: #3a2306;
    color: #241508;
}

.navbar {
    background-color: #241508;
    color: #c19d67;
}

a {
    color: #c19d67;
}

a:hover {
    color: #5e4423;
}

.card {
    color: #241508;
}

.card-title {
    font-family: 'Josefin Slab', serif;
}
.card-body li{
  display: inline;
  padding-right: 20px;
}
.card-body a{
color: #241508; 
}
.card-body a:hover{
  text-decoration: none;
  color: #aa7305;
  }
  .card-body a:focus{
    text-decoration: none;
    color: #aa7305;
    }
hr{
border-width: 2px;
border-color: #241508;
}

#title {
    font-size: 6vw;
    color: #8d7147;
    font-family: 'Vast Shadow', cursive;
}

#pot-pic {
    width: 4.5vw;
    margin: 0 0 30px 20px;
}

#pot-pic {
    width: 4.5vw;
    margin: 0 0 30px 20px;
}

#news {
    text-align: left;
}

#add-todo-btn {
    background-color: #8d7147;
    color: black;
    border: none;
}

#add-todo-btn{
  background-color: #8d7147;
  color: black;
  border: none;
}

img{
    width: 250px;
}

#traffic {
    text-align: left;
    margin-top: 20px;
}

#mc-title{
    font-size: 3rem;
  
  }
  
  #bg-image{
    background-image: url("../images/bg-image.jpg");
    background-size: cover;
    min-height: 100vh;
  }
  .container.signin {
      min-width: 450px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 700px) {
    #pot-pic {display: none;}
    .form-group{font-size: 2rem;}
    .container.rounded.signin.top40.py-5.bg-light.col-lg-8.col-10 {
        top: 50%;
    }

  }