.list-group-item {
  line-height: 2.5;
}

   /* !-- Coffee Color palette:
    #241508 #3a2306 #5e4423 #8d7147 #c19d67 -- */

body {
background-color: #3a2306;
color: #241508;
}
.navbar {
background-color: #241508;
color: #c19d67;
}
a {
color: #c19d67;
}
a:hover {
color: #5e4423;
}
.card {
color: #241508;
}
.card-title{
font-family: 'Josefin Slab', serif;
}
hr{
border-width: 2px;
border-color: #241508;
}
#title {
font-size: 6vw;
color: #8d7147;
font-family: 'Vast Shadow', cursive;
}
#pot-pic{
width: 4.5vw;
margin: 0 0 30px 20px;
}
